* {
    margin: 0;
    padding: 0;
}



        /* Навигационное меню */




header {
    width: 1202px;
    margin: auto;
    margin-bottom: 96px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}



        /* Что бы спозиционировать list-item я для их блока-обертки
         отдельно задаю ширину и свойство display:flex; */



.navigation-menu {
    width: 492px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.logo {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #95e1d3;
}

.list-item a {
    text-decoration: none;
    color: #95e1d3;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 12px 0;
}

.list-item a:hover {
    color: #f48989;
    border-bottom: 3px solid #f48989;
}



        /* Тут начинается верстка main */




main {
    width: 1202px;
    margin: 0 auto;
}



         /* Позиционирование headlines */




.headlines {
    width: 344px;
    margin: 0 auto;
    text-align: center;
}

.headline1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
}

.headline2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.headline2::after {
    content: '';
    width: 60px;
    height: 3px;
    background-color: #f38181;
    display: block;
    margin: 0 auto;
    margin-top: 42px;
}

.services {
    margin-bottom: 66px;
}

.team {
    margin-bottom: 44px;
}



        /* Ниже начинается верстка и позиционирование wrapper */




.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.container {
    max-width: 380px;
    margin-bottom: 100px;
}

.four, .five, .six {
    margin-bottom: 90px;
}

.container:not(:nth-child(3n)) {
    margin-right: 20px;
}

.headline3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #333333;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #999999;
}



      /* А теперь я перехожу к псевдоэлементам для .container */




.container::before {
    content: '';
    position: absolute;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}

.inner {
    width: 80%;
    float: right;
}

.one::before {
    content: url(/img/before1.png);
}

.two::before {
    content: url(/img/before2.png);
}

.three::before {
    content: url(/img/before3.png);
}

.four::before {
    content: url(/img/before4.png);
}

.five::before {
    content: url(/img/before5.png);
}

.six::before {
    content: url(/img/before6.png);
}



        /* Позиционирование текста под headlines */


.text2 {
    display: inline-block;
    text-align: center;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}